# Binaries and build outputs
/bin/
/build/
/dist/
*.exe
*.dll
*.so
*.dylib
server/server_bin
server/server
node/spawner_bin
node/spawner

# Editor directories and files
.vscode/
.idea/
*.swp

# Go specific
/vendor/
*.test
*.out

# OS files
.DS_Store
Thumbs.db

# Environment and local data
.env
node/.env
server/.env
registry.db
*.db
*.sqlite
server/registry.db

# Dependency directories
Godeps/

# IDE specific
*.iml

# Ignore coverage and test cache
coverage.out
/coverage/

# logs
*.log

# Large binary files
*.zip
server/files/
server/files/*.zip
server/*.json
!server/.env.example

# Node specific
node/lin/
node/instances/
node/game_server/
node/instancesx/
node/examples/
2fa generator/


/exile-480006-firebase-adminsdk-fbsvc-69d03b675e.json
web-dashboard/node_modules/
web-dashboard/.svelte-kit/
