name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Go Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ${{ github.workspace }}/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install dependencies
        
        run: |
          go mod download

      - name: Run tests
        working-directory: ./server
        run: |
          go test ./... -v

#      - name: Run golangci-lint
#        uses: golangci/golangci-lint-action@v6
#        with:
#          # Optional: version of golangci-lint to use in form of v1.2.3 or `latest` to use the latest version
#          version: latest
#          # Optional: working directory, useful for monorepos
#          # working-directory: somedir
